* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}
.title {
    font: Times New Roman;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: #3a0652; 
    height: 80px;
    padding: 20px 20px;

     

}
.logo {
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
    margin-left: 20px;
    letter-spacing: 2px;
    
    
    
}

.logo span {
    color:coral;
}
.menu li {
    list-style: none;
    display: inline-block;
    
    

}
.menu li a {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    
    

}
.menu {
    float: right;
}
section {
    display: flex;
    background-color: #a584b4;
    height: 100vmax;
    width: 100%;
    background-size: cover;
    display:list-item;
    letter-spacing: 1px;
    text-align: center;
    
}
.about {
    font-size: 25px;
    padding-left: 40px; 
    padding-top: 200px;

}
.about h1 {
    color: rgb(60, 5, 82);
}
.about-content {
    padding-top: 100px;

}
.skills {
    font-size: 25px;
    margin-top: 20px;

    
}
.hobbies {
    font-size: 25px;
    margin-top: 25px;
}
img {
    height: 500px;
    width: 500px;
    float: right;
    padding-right: 40px;
    
}
.project-title {
    margin-top: 25px;
}